*{
    margin: 0px;
    padding:0px;
}

.main{
    text-align: center;
}

.choices{
display: flex;
justify-content: center;
gap: 3rem;
    margin-top: 5rem;

}

.choice {
    h1{
        color:#3c20a3b4;
    }
img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
border: 2px solid#444;
padding: 10px;
object-fit: cover;
        background-color: #ebebeb;
}
}
.scores {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 4rem;
}
.user-score, .comp-score{
    border: 1px solid#444;
    background:aqua;
    padding: 6px;
    border-radius: 6px;
    font-size: 22px;
}

.user-score label, .comp-score label{
    display: block;
        font-weight: bold;
    color: #14394a;
}
.msg {
    background: #FF5722;
    width: fit-content;
    margin: 0px auto;
    font-size: 24px;
    padding: 9px 20px;
    border-radius: 6px;
    color: #fff;
}